<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>index</title>
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
	name="viewport">
<meta charset="UTF-8">
<!-- CSS Files -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body data-background-color="bg3">
	<div class="wrapper">
		<div th:replace="common/header :: header"></div>
		<div th:replace="common/sidebar :: sidebar"></div>

		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">客户列表(已有)</h4>
					</div>
					<div class="card">

						<div class="card-header">
							<input type="text" class="form-control input-square"
								id="squareInput" placeholder="客户名称"
								style="width: 150px; display: inline-block;">
							<button class="btn btn-info btn-sm" style="margin-left: 5px">
								<i class="fa fa-search"></i>搜索
							</button>
							<button class="btn btn-info btn-sm" style="float: right"
								data-toggle="modal" data-target="#insertModal">
								<i class="fa fa-plus"></i>添加
							</button>
						</div>
						<div class="card-body">
							<table class="table table-striped mt-3">
								<thead>
									<tr>
										<th scope="col">编号</th>
										<th scope="col">客户</th>
										<th scope="col">地址</th>
										<th scope="col">联系人</th>
										<th scope="col">电话</th>
										<th scope="col">邮箱</th>
										<th scope="col">销售负责人</th>
										<th scope="col">交付负责人</th>
										<th scope="col">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cstm : ${cInfoList}">
										<td th:text="${cstm.cId}"></td>
										<td th:text="${cstm.cName}"></td>
										<td th:text="${cstm.cAddress}"></td>
										<td th:text="${cstm.contactName}"></td>
										<td th:text="${cstm.contactPhone}"></td>
										<td th:text="${cstm.contactMail}"></td>
										<td th:text="${cstm.salesName}"></td>
										<td th:text="${cstm.deliverName}"></td>

										<td>
											<button class="btn btn-info btn-xs" onclick="selectDetail(this.value)"
											th:value="${cstm.cId}">
												<i class="fa fa-file"></i>详情
											</button>
											<button class="btn btn-success btn-xs" onclick="updateDetail(this.value)"
											th:value="${cstm.cId}">
												<i class="fa fa-edit"></i>修改
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-remove"></i>删除
											</button>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</div>
				<!-- page-inner -->
			</div>
			<!-- content -->
		</div>
		<!-- main -->

		<!-- 详情模态框 -->
		<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" style="width: 800px;">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">客户详情</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
				  <form action="/customer/update" method="post">
					<div class="modal-body" id="dtlForm">
						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">客户</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full" id="cNameDtl"
									disabled>
							</div>
							<label for="inlineinput" class="col-md-2 col-form-label">地址</label>
							<div class="col-md-5 p-0">
								<input type="text" class="form-control input-full"
									id="cAddressDtl" disabled>
							</div>
						</div>
						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">联系人</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full"
									id="contactNameDtl" disabled>
							</div>
							<label for="inlineinput" class="col-md-1 col-form-label">电话</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full"
									id="contactPhoneDtl" disabled>
							</div>
							<label for="inlineinput" class="col-md-1 col-form-label">邮箱</label>
							<div class="col-md-3 p-0">
								<input type="text" class="form-control input-full"
									id="contactMailDtl" disabled>
							</div>
						</div>
						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">销售负责人</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full"
									id="salesNameDtl" disabled>
							</div>
							<label for="inlineinput" class="col-md-2 col-form-label">交付负责人</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full" 
								id="deliverNameDtl" disabled>
							</div>
						</div>

						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">纳税人识别号</label>
							<div class="col-md-4 p-0">
								<input type="text" class="form-control input-full" 
								id="taxpayerIdDtl"
								disabled>
							</div>
						</div>
						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">开户行</label>
							<div class="col-md-3 p-0">
								<input type="text" class="form-control input-full" disabled
								id="openingBankDtl">
							</div>
							<label for="inlineinput" class="col-md-2 col-form-label">账号</label>
							<div class="col-md-4 p-0">
								<input type="text" class="form-control input-full" disabled
								id="bankAccountDtl">
							</div>
						</div>
						<div class="form-group form-inline">
							<label for="inlineinput" class="col-md-2 col-form-label">是否免税</label>
							<div class="col-md-2 p-0">
								<div class="form-check">
									<br> <label class="form-radio-label"> <input
										class="form-radio-input" type="radio" name="isTaxfreeDtl"
										value="0" disabled id="isTaxfreeDtlYes"> 
										<span class="form-radio-sign">是</span>
									</label> <label class="form-radio-label ml-3"> <input
										class="form-radio-input" type="radio" name="isTaxfreeDtl"
										value="1" disabled id="isTaxfreeDtlNo"> 
										<span class="form-radio-sign">否</span>
									</label>
								</div>
							</div>
							<label for="inlineinput" class="col-md-2 col-form-label">免税余额</label>
							<div class="col-md-2 p-0">
								<input type="text" class="form-control input-full" disabled
								id="taxfreeAmountDtl">
							</div>
						</div>
					  
					</div>
					<div class="modal-footer">
						<button type="button" class="btn"  id="dtlCloseBtn">关闭</button>
						<button type="button" class="btn btn-primary" id="dtlSaveBtn">保存</button>
					</div>
				  </form>
				</div>
			</div>
		</div>

		<!-- 添加模态框 -->
		<div class="modal fade" id="insertModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" style="width: 800px;">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">客户详情</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
				  <form action="/customer/insert" method="post">
					<div class="modal-body">
							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">客户</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full" id="cName">
								</div>
								<label for="inlineinput" class="col-md-2 col-form-label">地址</label>
								<div class="col-md-5 p-0">
									<input type="text" class="form-control input-full"
										id="cAddress">
								</div>
							</div>
							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">联系人</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full"
										id="contactName">
								</div>
								<label for="inlineinput" class="col-md-1 col-form-label">电话</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full"
										id="contactPhone">
								</div>
								<label for="inlineinput" class="col-md-1 col-form-label">邮箱</label>
								<div class="col-md-3 p-0">
									<input type="text" class="form-control input-full"
										id="contactMail">
								</div>
							</div>
							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">销售负责人</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full"
										id="salesName">
								</div>
								<label for="inlineinput" class="col-md-2 col-form-label">交付负责人</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full">
								</div>
							</div>

							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">纳税人识别号</label>
								<div class="col-md-4 p-0">
									<input type="text" class="form-control input-full">
								</div>
							</div>
							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">开户行</label>
								<div class="col-md-3 p-0">
									<input type="text" class="form-control input-full">
								</div>
								<label for="inlineinput" class="col-md-2 col-form-label">账号</label>
								<div class="col-md-4 p-0">
									<input type="text" class="form-control input-full">
								</div>
							</div>
							<div class="form-group form-inline">
								<label for="inlineinput" class="col-md-2 col-form-label">是否免税</label>
								<div class="col-md-2 p-0">
									<div class="form-check">
										<br> <label class="form-radio-label"> <input
											class="form-radio-input" type="radio" name="optionsRadios"
											value="0"> <span class="form-radio-sign">是</span>
										</label> <label class="form-radio-label ml-3"> <input
											class="form-radio-input" type="radio" name="optionsRadios"
											value="1"> <span class="form-radio-sign">否</span>
										</label>
									</div>
								</div>
								<label for="inlineinput" class="col-md-2 col-form-label">免税余额</label>
								<div class="col-md-2 p-0">
									<input type="text" class="form-control input-full">
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="insCloseBtn">保存</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--   Core JS Files   -->
	<script src="../js/jquery.3.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/vue.js"></script>
	<script type="text/javascript">
		$(function() {
			//模态框的关闭操作
			$("#dtlCloseBtn").click(function() {
				$("#detailModal").modal("hide");
			});
			$("#insCloseBtn").click(function() {
				$("#insertModal").modal("hide");
			});
		});
		
		//详情按钮
		function selectDetail(cid){

			$("#detailModal").modal("show");
			$("#dtlSaveBtn").hide();
			selectById(cid);
			//失效模态框的input
			$("#detailModal input").attr("disabled",true);
		}
		//修改按钮
		function updateDetail(cid){

			$("#detailModal").modal("show");
			$("#dtlSaveBtn").show();
			selectById(cid);
			//启用模态框的input
			$("#detailModal input").attr("disabled",false);
		  }
		
		//根据ID搜索客户信息
		function selectById(cid){
			var requestParam = {
					"cid" : cid
				};
			$.ajax({
				url : "/customer/selectById",
				type : "post",
				contentType : "application/json;charset=UTF-8",
				dataType : "json",
				data : JSON.stringify(requestParam),
				success : function(data) {
					$("#cNameDtl").val(data.cName);
					$("#cAddressDtl").val(data.cAddress);
					$("#contactNameDtl").val(data.contactName);
					$("#contactPhoneDtl").val(data.contactPhone);
					$("#contactMailDtl").val(data.contactMail);
					$("#salesNameDtl").val(data.salesName);
					$("#deliverNameDtl").val(data.deliverName);
					$("#taxpayerIdDtl").val(data.taxpayerId);
					$("#openingBankDtl").val(data.openingBank);
					$("#bankAccountDtl").val(data.bankAccount);
					(data.isTaxfree)==0?$("#isTaxfreeDtlYes").attr("checked",true):$("#isTaxfreeDtlNo").attr("checked",true)
					$("#taxfreeAmountDtl").val(data.taxfreeAmount);
				}
			})
		}
	</script>