<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.module.customer.CustomerDao">

 	<resultMap id="CustomerDTO"
               type="com.wj.module.customer.domain.dto.CustomerDTO"></resultMap>
               
    <sql id="baseSql">
        c.c_id,
        c.c_name,
        c.c_address,
        c.contact_name,
        c.contact_phone,
        c.contact_mail,
        c.sales_name,
        c.deliver_name,
        c.taxpayer_id,
        c.opening_bank,
        c.bank_account,
        c.is_taxfree,
        c.taxfree_amount,
        c.remark,
        c.is_customer,
        c.create_time,
        c.update_time,
        c.update_user,
        c.is_deleted
    </sql>         
      
    <select id="selectAllCustomer" resultMap="CustomerDTO">
	    SELECT 
	    <include refid="baseSql"></include>
		FROM customer_info c
		<where>
	    is_customer = ${@com.wj.constant.SqlConstant$JudgeStatus@NO.getValue()}
	    AND 
	    is_deleted = ${@com.wj.constant.SqlConstant$JudgeStatus@NO.getValue()}
	    </where>
     </select>
     
     <select id="selectCustomerById" resultMap="CustomerDTO">
	    SELECT 
	 	<include refid="baseSql"></include>
	    FROM customer_info c
	    <where>
	    is_customer = ${@com.wj.constant.SqlConstant$JudgeStatus@NO.getValue()}
	    AND 
	    is_deleted = ${@com.wj.constant.SqlConstant$JudgeStatus@NO.getValue()}
	    AND
	    c_id = #{cid}
	    </where>
     </select>
	
</mapper>
